@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro-page {
  position: relative;
}
.intro-img {
  background: url("../images/pizzabg1.jpg");
  background-size: cover;

  height: 80vh;
}
.intro-logo {
  position: absolute;
  top: 0;
  left: 150px;

  width: 20%;
}
.intro-text {
  color: #fff;
  font-family: "Dancing Script", cursive;
  position: absolute;
  top: 200px;
}
.intro-text h1 {
  font-size: 50px;
}
.intro-text p {
  text-align: center;
  font-size: 30px;
}
.btn-light {
  position: absolute;
  top: 350px;
  left: 220px;
  font-family: "Dancing Script", cursive;
}
